* {
  font-family: sans-serif;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Courier, monospace;
}
body {
  background-color: #393e46;
}

.header {
  color: #eeeeee;
  margin: 25px;
}

.context {
  margin: 25px;
  background-color: #00adb5;
  padding: 25px;
  border-radius: 5px;
  height: 250px;
}

.step {
  display: flex;
  justify-content: center;
  margin: 10px;
  gap: 10px;
}

.step button {
  width: 50px;
  margin-right: 5px;
  margin-left: 5px;
}

.count {
  display: flex;
  justify-content: center;
  margin: 10px;
  gap: 10px;
}

.count button {
  width: 50px;
}

.text {
  margin-top: 50px;
  font-size: 32px;
  font-weight: 500;
  color: #eeeeee;
}
